<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>!Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1096,1},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Challenge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,135}</string>
                <key>spriteSourceSize</key>
                <string>{135,135}</string>
                <key>textureRect</key>
                <string>{{654,139},{135,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ShareBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1000,360},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>backBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1000,442},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnBg0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{421,103}</string>
                <key>spriteSourceSize</key>
                <string>{421,103}</string>
                <key>textureRect</key>
                <string>{{1,323},{421,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnBg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{421,103}</string>
                <key>spriteSourceSize</key>
                <string>{421,103}</string>
                <key>textureRect</key>
                <string>{{424,302},{421,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>challengeBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,60}</string>
                <key>spriteSourceSize</key>
                <string>{160,60}</string>
                <key>textureRect</key>
                <string>{{625,407},{160,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>closeSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,94}</string>
                <key>spriteSourceSize</key>
                <string>{95,94}</string>
                <key>textureRect</key>
                <string>{{787,407},{95,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>collectionBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,115}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{791,126},{115,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crashSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,123}</string>
                <key>spriteSourceSize</key>
                <string>{123,123}</string>
                <key>textureRect</key>
                <string>{{791,1},{123,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>freeSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,42}</string>
                <key>spriteSourceSize</key>
                <string>{113,42}</string>
                <key>textureRect</key>
                <string>{{625,469},{113,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>homeBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,115}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{847,243},{115,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{329,299}</string>
                <key>spriteSourceSize</key>
                <string>{329,299}</string>
                <key>textureRect</key>
                <string>{{323,1},{329,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,61}</string>
                <key>spriteSourceSize</key>
                <string>{107,61}</string>
                <key>textureRect</key>
                <string>{{1033,1},{107,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pauseBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,59}</string>
                <key>spriteSourceSize</key>
                <string>{59,59}</string>
                <key>textureRect</key>
                <string>{{1082,316},{59,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,320}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{320,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prosBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,70}</string>
                <key>spriteSourceSize</key>
                <string>{422,70}</string>
                <key>textureRect</key>
                <string>{{1,428},{422,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rankBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,115}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{908,126},{115,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rankSelfBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,100}</string>
                <key>spriteSourceSize</key>
                <string>{198,100}</string>
                <key>textureRect</key>
                <string>{{425,407},{198,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>replayBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,115}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{916,1},{115,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>resume.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,115}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{883,360},{115,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>settingBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,59}</string>
                <key>spriteSourceSize</key>
                <string>{61,59}</string>
                <key>textureRect</key>
                <string>{{1062,442},{61,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>soundOffBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,115}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{964,243},{115,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soundOnBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,115}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{1025,118},{115,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>video.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,70}</string>
                <key>spriteSourceSize</key>
                <string>{79,70}</string>
                <key>textureRect</key>
                <string>{{1081,235},{79,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>videoBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,136}</string>
                <key>spriteSourceSize</key>
                <string>{135,136}</string>
                <key>textureRect</key>
                <string>{{654,1},{135,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UI.png</string>
            <key>size</key>
            <string>{1177,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:098d23963c48cef88d656319bf4fc199:475ccc14e336953ecc37efd7604655a0:4d1c460786d5294715f9f3e199a00761$</string>
            <key>textureFileName</key>
            <string>UI.png</string>
        </dict>
    </dict>
</plist>
